Language: Cpp
UseTab: ForContinuationAndIndentation
ColumnLimit: 120 
IndentWidth: 1
TabWidth: 1
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: InlineOnly

